* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica Neue", "Segoe UI", Helvetica, sans-serif;
  margin: 20px;
}

ul {
  margin-left: 20px;
}

ul a {
  color: #177ee6;
  text-decoration: none;
}

ul a:hover {
  text-decoration: underline;
}

ul li {
  margin-bottom: 10px;
}

pre {
  text-align: left;
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.wrapper {
  width: auto;
  max-width: 760px;
}

section {
  margin: 1em auto;
}

hr {
  border: 1px solid #eee;
}

p {
  margin: 0.5em auto;
}

section p:first-of-type {
  font-weight: bold;
}
