section.post {
    /*font-family: Palatino, Palatino Linotype;*/
    font-family: Verdana,Helvetica,Arial,sans-serif;
    /*font-weight: lighter;*/
    font-size: 12pt;
    color: #000 !important;
}

section.post {
    margin-top: 1em;
}

section.post p {
    margin-bottom: 1em;
    line-height: 1.5em;
}

.maketitle br {
    display: none;
}

.maketitle .titleHead {
    text-align: left;
}

.maketitle .author {
    display: none;
}

.maketitle .date {
    text-align: left;
}
